
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 48px 24px;
  background: url("../../assets/images/background/initial.png") center/cover no-repeat;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
